<div class="wrap"> 
  <div class="header">
    <img src="../assets/images/logo_netconomy_neu_weisz.png">
  </div>
  <div class="main">
    <div class="messages">
      <div class="left-column">
        <div *ngFor="let user of serv.conversationJson">
          <div class="user" (click)="selectUser(user)">
            <img [src]="user.picture_data.src" alt="{{user.picture_data.alt}}">
            <div>
              <p>{{user.name}}</p>
              <p class="status">{{user.status}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="right-column" [ngClass]="{'centered': !selectedUser}">
          <div *ngIf="!selectedUser">Please select chat to start conversation</div>
          <div *ngIf="selectedUser" style="height: 100%;">

            <div class="all-messages-wrap" style="height: 92%;" id="id">
              <div class="message-wrap" [ngClass]="{'sent-wrap': message.type === 'sent'}" *ngFor="let message of selectedUser.messages">
                <div class="message-one" [ngClass]="{'sent': message.type === 'sent'}">
                  <p class="text">{{message.content}}</p>
                  <p class="time">{{message.time | date:'shortTime'}}</p>
                </div>
              </div>
            </div>

            <div class="message-input" style="height: 8%;">
              <input style="width: 85%;" #input/>
              <button (click)="addMessage(input.value); input.value=''">Send</button>
            </div>

          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="logo">
      <img src="../assets/images/logo_netconomy_neu_weisz.png">
    </div>
    <div class="links">
      <div class="column">
        <p>Home</p>
        <p>About</p>
        <p>Portfolio</p>
      </div>
      <div class="column">
        <p>Industries</p>
        <p>References</p>
        <p>Partnerships</p>
      </div>
      <div class="column">
        <p>Careers</p>
        <p>Locations</p>
        <p>Imprint</p>
      </div>
    </div>
    <div class="bottom">
      <p>2021 NETCONOMY</p>
      <div class="icons">

      </div>
    </div>
  </div>
</div>